<div ng-include src="'navbarMain.html'"></div>
<div class="single-page">
    <div class="panel" ng-controller="TabController">
        <div class="row">
            <div class="col-md-2">
                <ul class="detail-expo-menu nav panel-tabs">
                    <li ng-class="{ active: isSet(1) }">
                        <a href ng-click="setTab(1)">Profile</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href ng-click="setTab(2)">Visits</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="panel-body">
                    <div ng-show="isSet(1)">
                        <div class="details-item">
                            <p ng-show="loggedUser">Logged as <strong>{{ loggedUser }}</strong></p>
                            </div> 
                        <div class="details-item">
                            <h2><i class="fa fa-heart-o" aria-hidden="true"></i>  Likes</h2>
                             <p><small>New functionality coming soon!</small></p>
                            <p>You don't have any favourites</p>
                           
                        </div>

                        <div class="details-item">
                            <h2><a href="#!/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a></h2>
                           
                        </div>
                        
                        
                    </div>
                    <div ng-show="isSet(2)">
                        <div class="details-item">
                            
                             <p><small>New functionality coming soon!</small></p>
                            <p>You didn't register any visit</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div ng-include src="'navbarBottom.html'"></div>
