<div class="navbar navbar-default navbar-fixed-top main-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->

            <!-- SEARCH BAR -->
            <!-- <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div> -->
            <a href="#" class="navbar-brand visible-xs">
                <i class="fa fa-fw fa fa-search"></i>How is your mood today?
            </a>
            <a href="#" class="navbar-brand hidden-xs">How is your mood today?</a>


        </div>
        <!-- <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-right nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="badge">0</span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">No message.</li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" class="navbar-link">Menu<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li class="active"><a class="animate" href="#">Home</a></li>
                        <li class="dropdown-header">General</li>
                        <li><a class="animate" href="#">Users</a></li>
                        <li><a class="animate" href="#">Widget</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">User Settings</li>
                        <li><a class="animate" href="#">Change password</a></li>
                    </ul>
                </li>
            </ul>
        </div> -->
    </div>
</div>
