<div class="navbar navbar-default navbar-fixed-bottom main-navbar">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <a href="/#!/setMood" class="navbar-brand visible-xs">
                <i class="fa fa-fw fa fa-bars"></i>
            </a>
            <a href="#" class="navbar-brand hidden-xs"><i class="fa fa-fw fa fa-bars"></i>User</a>

            <a href="/#!/notifications" class="navbar-brand visible-xs center">
                <i class="fa fa-fw fa fa-bell-o"></i>
            </a>
            <a href="#" class="navbar-brand hidden-xs"><i class="fa fa-fw fa fa-bell-o"></i>User</a>

            <a href="/#!/userProfile" class="navbar-brand visible-xs pull-right">
                <i class="fa fa-fw fa fa-user-o"></i>
            </a>
            <a href="#" class="navbar-brand hidden-xs"><i class="fa fa-fw fa fa-user-o"></i>User</a>
        </div>
    </div>
</div>
