<div class="cover">
    <div id="login" class="col-md-12">
        <h1>Log in</h1>
        <form class="form-signin" accept-charset="UTF-8" role="form" ng-submit="login($event)">
            <div class="input-group">
                <span class="input-group-addon no-border-bottom"><i class="fa fa-envelope fa-fw"></i></span>
                <input class="form-control" placeholder="Email" name="username" type="text" ng-model="username" required autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa fa-lock fa-fw"></i></span>
                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="password" required>
            </div>
            <a href="/#!/setMood">
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Log in</button>
            </a>
        </form>
        <!-- <div class="reset-password text-center">
            <a href="#">Forgot the password?</a>
        </div> -->
    </div>
    <div class="new-account">
        <a href="/#!/register">Create an account</a>
    </div>
</div>
