<div ng-include src="'templates/includes/navbarBack.html'"></div>
<div class="admin-page">
    <form class="form-register" ng-submit="addExpo()">
    <h2>Admin panel</h2>
        <div class="form-group">
            <label for="nameExpo">Name</label>
            <input ng-model="name" name="nameExpo" type="text" class="form-control" id="nameExpo" placeholder="Expo Title...">
        </div>
        <div class="form-group">
            <label for="centerExpo">Center</label>
            <input ng-model="center" name="centerExpo" type="text" class="form-control" id="centerExpo" placeholder="Center Expo...">
        </div>
        <div class="form-group">
            <label for="imageCenter">Image Center</label>
            <input ng-model="imageCenter" name="imageCenter" type="string" class="form-control" id="imageCenter" placeholder="Url Image Center...">
        </div>
        <div class="form-group">
            <label for="categoryExpo">Category</label>
            <input ng-model="category" name="categoryExpo" type="text" class="form-control" id="categoryExpo" placeholder="Category">
        </div>
        <div class="form-group">
            <label for="descriptionExpo">Description</label>
            <input ng-model="description" name="descriptionExpo" type="text" class="form-control" id="descriptionExpo" placeholder="Expo Description...">
        </div>
        <div class="form-group">
            <label for="imageExpo">Image</label>
            <input ng-model="image" name="imageExpo" type="string" class="form-control" id="imageExpo" placeholder="Url Image Expo...">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">ADD EXPO</button>
    </form>
</div>
