<div ng-include src="'templates/includes/navbarMain.html'"></div>
<div class="list-expos">
    <h3 class="title-section">Results for: "<span>{{ queryExpo }}</span>"</h3>
    <div ng-if="vm.showNoResult">
    </div>
    <div ng-if="vm.notFound">
        <div class="alert alert-danger">
            <strong>No results found :(</strong>
        </div>
    </div>
    <div ng-if="vm.expos">
        <section ng-repeat="expo in expos" class="expos-cards">
            <div class="thumbnail item-expo-box">
                <a ng-href="/#!/expo/{{ expo._id }}">
                    <div class="item-expo-img" ng-style="{'background-image': 'url(' + expo.image + ')'}" ng-alt="{{ expo.name }}">
                    </div>
                    <div class="caption">
                        <p class="expo-name">{{ expo.name }}</p>
                        <p class="center-name">{{ expo.center }}</p>
                        <div class="expo-val">
                            <p><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="pull-right"><i class="fa fa-clock-o"></i>1h 30m</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
</div>
<div ng-include src="'templates/includes/navbarBottom.html'"></div>
