<div ng-include src="'templates/includes/navbarMain.html'"></div>
<div class="single-page">
    <h1>Select a status mood:</h1>
    <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p> -->
    <div class="centered">
        <section class="cards">
            <div class="item-mood-box box-discover">
                <a href="/#!/listExpos/Discoverer"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box box-disconnected">
                <a href="/#!/listExpos/Disconnected"><span>Disconnected</span></a>
            </div>
            <div class="item-mood-box box-entertained">
                <a href="/#!/listExpos/Entertained"><span>Entertained</span></a>
            </div>
            <div class="item-mood-box box-out">
                <a href="/#!/listExpos/Musical"><span>Musical</span></a>
            </div>
            <div class="item-mood-box box-explorer">
                <a href="/#!/listExpos/Explorer"><span>Explorer</span></a>
            </div>
            <div class="item-mood-box box-nostalgic">
                <a href="/#!/listExpos/Nostalgic"><span>Nostalgic</span></a>
            </div>
            <div class="item-mood-box box-family">
                <a href="/#!/listExpos/With-family"><span>With family</span></a>
            </div>
            <div class="item-mood-box box-romantic">
                <a href="/#!/listExpos/Romantic"><span>Romantic</span></a>
            </div>
            <div class="item-mood-box box-exotic">
                <a href="/#!/listExpos/Exotic"><span>Exotic</span></a>
            </div>
            <div class="item-mood-box box-classic">
                <a href="/#!/listExpos/Classic"><span>Classic</span></a>
            </div>
            <div class="item-mood-box box-cinephile">
                <a href="/#!/listExpos/Cinephile"><span>Cinephile</span></a>
            </div>
            <div class="item-mood-box box-energy">
                <a href="/#!/listExpos/With-energy"><span>With energy</span></a>
            </div>
            <div class="item-mood-box box-inspired">
                <a href="/#!/listExpos/Inspired"><span>Inspired</span></a>
            </div>
            <div class="item-mood-box box-informed">
                <a href="/#!/listExpos/Be-informed"><span>Be informed</span></a>
            </div>
            <div class="item-mood-box box-relaxed">
                <a href="/#!/listExpos/Relaxed"><span>Relaxed</span></a>
            </div>
            <div class="item-mood-box box-holiday">
                <a href="/#!/listExpos/On-holiday"><span>On holiday</span></a>
            </div>
            <div class="item-mood-box box-vintage">
                <a href="/#!/listExpos/Vintage"><span>Vintage</span></a>
            </div>
            <div class="item-mood-box box-love">
                <a href="/#!/listExpos/In-love"><span>In love</span></a>
            </div>
            
        </section>
    </div>
</div>
<div ng-include src="'templates/includes/navbarBottom.html'"></div>