<div ng-include src="'templates/includes/navbarBack.html'"></div>
<div class="single-page">
    <h1>David Bowie Is</h1>
    <div class="panel">
        <ul class="detail-expo-menu  nav panel-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Exhibition</a></li>
            <li><a href="#tab2" data-toggle="tab">Information</a></li>
        </ul>
        </span>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                <img src="http://placehold.it/300x100" alt="">
                <h4>David Bowie Is</h4>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
                <div class="tab-pane" id="tab2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
            </div>
        </div>
    </div>
</div>
