<div ng-include src="'templates/includes/navbarExpo.html'"></div>
<div class="single-page">
    <div class="panel" ng-controller="tabController">
        <div class="row">
            <div class="col-md-2">
                <ul class="detail-expo-menu  nav panel-tabs">
                    <li ng-class="{ active: isSet(1) }">
                        <a href ng-click="setTab(1)">Exhibition</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href ng-click="setTab(2)">Information</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="panel-body">
                    <div ng-show="isSet(1)">
                        <div class="detail-expo-img" style="background-image: url('http://ajuntament.barcelona.cat/museudeldisseny/sites/default/files/styles/16_9_half/public/activities_cycle/11._david_bowie_1973_by_sukita.jpg');">
                        </div>
                        <h4>David Bowie Is</h4>
                        <p class="detail-expo text-center">Exhibition details</p>
                        <p>“David Bowie Is" creates a comprehensive audiovisual exhibition experience using the most advanced multimedia technology. The V&A was given unprecedented access to the David Bowie Archives to curate the first international retrospective on one of the most pioneering and influential performers of our times' career.</p>
                        <p><a href="http://ajuntament.barcelona.cat/museudeldisseny/es/exposicion/david-bowie">Visit the museum website</a></p>
                    </div>
                    <div ng-show="isSet(2)">
                        <h1>Information</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
