<div class="cover">
    <div class="col-md-12 landing-btn text-center">
        <img class="text-center" src="http://placehold.it/150x100" alt="">
        <h2>Get Enculturapp for free</h2>
        <div class="login-btn"><a href="/#!/login">
            <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Log in</button>
        </a>
        </div>
        <div class="btn-register">
        <a href="/#!/register">
            <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Register</button>
        </a>
        </div>
        <div class="text-terms text-center">
            <p>By using this app you agree to the <a>Terms and Conditions</a>.</p>
        </div>
    </div>
</div>
