<div class="cover">
    <div class="col-md-12">
        <img class="text-center" src="http://placehold.it/150x100" alt="">
        <p>Lorem ipsum.</p>
            <a href="/#!/login">
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Log in</button>
            </a>
            <a href="/#!/register">
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Register</button>
            </a>
        
        <div class="text-terms text-center">
            <p>By using this app you agree to the <a>Terms and Conditions</a>.</p>
        </div>
        
    </div>
    
</div>