<div class="cover-landing">
    <div class="col-md-12 landing-btn">
        <i class="fa fa-university fa-3x" aria-hidden="true"></i>
        <h1>Welcome to Enculturapp</h1>
        <h3>Get the very latest on the exhibitions you care about according to you mood</h3>
        <div class="login-btn"><a href="/#!/login">
            <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Log in</button>
        </a>
        </div>
        <div class="btn-register">
        <a href="/#!/register">
            <button type="submit" class="btn btn-lg btn-block btn-register-landing">Register</button>
        </a>
        </div>
        <div class="text-terms text-center">
            <p>By using this app you agree to the <a>Terms and Conditions</a>.</p>
        </div>
    </div>
</div>
