<div ng-include src="'templates/includes/navbarBack.html'"></div>
<div class="container">
    <div class="list-expos">
		<section class="expos-cards">
                <div class="item-expo">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Expo 1</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Expo 2</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Expo 3</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Expo</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Expo</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Expo</p>
                        </div>
                    </a>
                </div>

            </section>
        <!-- <a href="#" class="list-group-item">
            <div class="media">
                <span class="label label-primary pull-right"><i class="glyphicon glyphicon-time"></i>1h 30m</span>
                <div class="pull-left">
                    <img class="media-object" src="http://placehold.it/100x70" alt="Image">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">David Bowie Is</h4>
                    <p>Museu del Disseny</p>
                    <p><span class="glyphicon glyphicon-star"></span>7/10</p>
                </div>
            </div>
        </a> -->
        
    </div>
</div>
