<div class="cover">
    <div class="col-md-12">
        <h1>{{4+5}}Welcome</h1>
        <form class="form-signin" accept-charset="UTF-8" role="form" ng-submit="vm.login()">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input class="form-control" placeholder="Email" name="username" type="text" ng-model="vm.username" required autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa fa-lock fa-fw"></i></span>
                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="vm.password" required>
            </div>
            <a href="/#!/setMood">
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Log in</button>
            </a>
        </form>
        <div class="reset-password text-center">
            <a href="#">Forgot the password?</a>
        </div>
    </div>
    <div class="new-account">
        <!--$location
                $location.path('')     -->
        <a href="/#!/register">Create an account</a>
    </div>
</div>
