<div ng-include src="'templates/includes/navbarMain.html'"></div>
<div class="single-page">
    <h1>Select a status mood:</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
    <div class="centered">
        <section class="cards">
            <div class="item-mood-box box-discover">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box box-disconnected">
                <a href="/#!/listExpos"><span>Disconnected</span></a>
            </div>
            <div class="item-mood-box box-entertained">
                <a href="/#!/listExpos"><span>Entertained</span></a>
            </div>
            <div class="item-mood-box box-out">
                <a href="/#!/listExpos"><span>Want out</span></a>
            </div>
            <div class="item-mood-box box-explorer">
                <a href="/#!/listExpos"><span>Explorer</span></a>
            </div>
            <div class="item-mood-box box-nostalgic">
                <a href="/#!/listExpos"><span>Nostalgic</span></a>
            </div>
            <div class="item-mood-box box-family">
                <a href="/#!/listExpos"><span>With family</span></a>
            </div>
            <div class="item-mood-box box-romantic">
                <a href="/#!/listExpos"><span>Romantic</span></a>
            </div>
            <div class="item-mood-box box-exotic">
                <a href="/#!/listExpos"><span>Exotic</span></a>
            </div>
            <div class="item-mood-box box-classic">
                <a href="/#!/listExpos"><span>Classic</span></a>
            </div>
            <div class="item-mood-box box-cinephile">
                <a href="/#!/listExpos"><span>Cinephile</span></a>
            </div>
            <div class="item-mood-box box-energy">
                <a href="/#!/listExpos"><span>With energy</span></a>
            </div>
            <div class="item-mood-box box-inspired">
                <a href="/#!/listExpos"><span>Inspired</span></a>
            </div>
            <div class="item-mood-box box-informed">
                <a href="/#!/listExpos"><span>Be informed</span></a>
            </div>
            <div class="item-mood-box box-relaxed">
                <a href="/#!/listExpos"><span>Relaxed</span></a>
            </div>
            <div class="item-mood-box box-holiday">
                <a href="/#!/listExpos"><span>On holiday</span></a>
            </div>
            <div class="item-mood-box box-vintage">
                <a href="/#!/listExpos"><span>Vintage</span></a>
            </div>
            <div class="item-mood-box box-love">
                <a href="/#!/listExpos"><span>In love</span></a>
            </div>
            
        </section>
    </div>
</div>
</div>