<div ng-include src="'templates/includes/navbarMain.html'"></div>
<div class="single-page">
    <div class="container">
        <h1>How is your item-mood today?</h1>
        <h2>Select a status item-mood:</h2>
        <div class="centered">
            <section class="cards">
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                <div class="item-mood">
                    <a class="item-content" href="/#!/listExpos">
                        <div class="item-body">
                        	<p>Discoverer</p>
                        </div>
                    </a>
                </div>
                
            </section>
        </div>
    </div>
</div>
</div>
