<div ng-include src="'templates/includes/navbarMain.html'"></div>
<div class="single-page">
    <h1>How is your mood today?</h1>
    <h2>Select a status mood:</h2>
    <div class="centered">
        <section class="cards">
            <div class="item-mood-box box-classic">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box box-cinefil">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box box-relaxat">
                <a href="/#!/listExpos"><span>Relaxed</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box box-classic">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box box-cinefil">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box box-relaxat">
                <a href="/#!/listExpos"><span>Get out</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
            <div class="item-mood-box">
                <a href="/#!/listExpos"><span>Discoverer</span></a>
            </div>
        </section>
    </div>
</div>
</div>