<div class="navbar navbar-default navbar-fixed-top main-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <form ng-submit="searchExpos()" class="form-inline search-form" role="form">
                <div class="form-group inner-addon left-addon">
                    <label class="sr-only" for="">label</label>
                    <i class="glyphicon glyphicon-search"></i>
                    <input ng-model="queryExpo" type="text" class="form-control input-search-custom" placeholder="Find out what's on Barcelona" />
                </div>
            </form>
        </div>
    </div>
</div>
